.ObjectiveCard {
  position: relative;
  padding: 10px 5px 10px 5px;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr auto 32px 600px 1fr;
}

.ObjectiveContent {
  height: 100px;
  width: 600px;
  border: 1px solid red;
  background-color: lightgrey;
  grid-column: 2;
}

.CollapsedChildren {
  position: absolute;
  height: 80px;
  width: 600px;
  border: 1px dashed grey;
  background-color: #eee;
  grid-column: 2;
}

.Level {
  grid-column: 4;
}

/* Make anything that isn't the first level have a green border */
.Level .ObjectiveContent {
  border: 1px solid green !important;
}

.hidden {
  display: none;
}

.ObjectiveContent.expanded {
  height: 800px;
  width: 900px;
}

/* Clean up some padding for first and last child */
.ObjectiveCard:first-child {
  padding-top: 0px;
}
.ObjectiveCard:last-child {
  padding-bottom: 0px;
}

/*****************/
/* Vertical line */
/*****************/

.Level .ObjectiveCard::before {
  border-left: 2px solid grey;
  height: 100%;
  width: 0;
  top: 0;
  left: -12px;
  position: absolute;
  content: "";
}

/* This makes the vertical line for the first child shorter */
.Level .ObjectiveCard:first-child::before {
  height: 100%-51px;
  top: 51px;
}

/* This makes the vertical line for the last child shorter */
.Level .ObjectiveCard:last-child::before {
  height: 51px;
  top: 0;
}

/* This hides the vertical line if there is only 1 child */
.Level .ObjectiveCard:only-child:before {
  content: none;
}

/*******************/
/* Horizontal line */
/*******************/

/* This is the long horizontal line that connects to parent */
.Level .ObjectiveCard:first-child::after {
  border-top: 2px solid grey;
  height: 0;
  width: 37px;
  top: 51px;
  left: -31px;
  content: "";
  position: absolute;
}

/* This is the horizontal line for the children */
.Level .ObjectiveCard:nth-child(n + 2)::after {
  border-top: 2px solid grey;
  height: 0;
  width: 18px;
  top: 51px;
  left: -12px;
  content: "";
  position: absolute;
}
